/*Flex box*/
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-item {
  flex: 1 1 auto;
  flex-basis: 300px;
  overflow: hidden;
}

/* Adapted from
 * http://bootsnipp.com/eldragon87/snippets/xpEmM
 */
.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: .5rem;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;

  span.card-title {
    color: #fff;
    font-size: 1.3em;
    font-weight: 300;
    text-transform: uppercase;
    padding: 1rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }

  span.card-language {
    float: right;
    font-size: .5rem;
    font-weight: 300;
    color: @white;
    padding-right: 2px;
  }

  .card-header {
    position: relative;
    overflow: hidden;
    padding-top: 1rem;
    padding-bottom: 1rem;
    -webkit-filter: saturate(80%) opacity(90%);
  }

  .card-content {
    padding: 1rem;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;
  }

  .card-content p {
    margin: 0;
    color: @black;
  }

  .card-content span.card-title {
    line-height: 48px;
  }

  .card-action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 1rem;
    color: @black;
    text-transform: uppercase;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: .8rem;
    font-weight: 200;
  }

  a:hover {
      text-decoration: none;
  }
}

/* Taken from
 * https://github.com/doda/github-language-colors/blob/master/colors.json
 *
 * Replaced spaces with '-', '#' with 'sharp', and '+' with 'p'
 */

.arduino {
  background-color: #bd79d1;
}

.java {
  background-color: #b07219;
}

.vhdl {
  background-color: #543978;
}

.scala {
  background-color: #7dd3b0;
}

.emacs-lisp {
  background-color: #c065db;
}

.delphi {
  background-color: #b0ce4e;
}

.ada {
  background-color: #02f88c;
}

.viml {
  background-color: #199c4b;
}

.perl {
  background-color: #0298c3;
}

.lua {
  background-color: #fa1fa1;
}

.rebol {
  background-color: #358a5b;
}

.verilog {
  background-color: #848bf3;
}

.factor {
  background-color: #636746;
}

.ioke {
  background-color: #078193;
}

.r {
  background-color: #198ce7;
}

.erlang {
  background-color: #949e0e;
}

.nu {
  background-color: #c9df40;
}

.autohotkey {
  background-color: #6594b9;
}

.clojure {
  background-color: #db5855;
}

.shell {
  background-color: #5861ce;
}

.assembly {
  background-color: #a67219;
}

.parrot {
  background-color: #f3ca0a;
}

.turing {
  background-color: #45f715;
}

.applescript {
  background-color: #3581ba;
}

.eiffel {
  background-color: #946d57;
}

.common-lisp {
  background-color: #3fb68b;
}

.dart {
  background-color: #cccccc;
}

.supercollider {
  background-color: #46390b;
}

.coffeescript {
  background-color: #244776;
}

.xquery {
  background-color: #2700e2;
}

.haskell {
  background-color: #29b544;
}

.racket {
  background-color: #ae17ff;
}

.elixir {
  background-color: #6e4a7e;
}

.haxe {
  background-color: #346d51;
}

.ruby {
  background-color: #701516;
}

.self {
  background-color: #0579aa;
}

.fantom {
  background-color: #dbded5;
}

.groovy {
  background-color: #e69f56;
}

.c {
  background-color: #555;
}

.javascript {
  background-color: #f15501;
}

.d {
  background-color: #fcd46d;
}

.ooc {
  background-color: #b0b77e;
}

.cpp {
  background-color: #f34b7d;
}

.dylan {
  background-color: #3ebc27;
}

.nimrod {
  background-color: #37775b;
}

.standard-ml {
  background-color: #dc566d;
}

.objective-c {
  background-color: #f15501;
}

.nemerle {
  background-color: #0d3c6e;
}

.mirah {
  background-color: #c7a938;
}

.boo {
  background-color: #d4bec1;
}

.objective-j {
  background-color: #ff0c5a;
}

.rust {
  background-color: #dea584;
}

.prolog {
  background-color: #74283c;
}

.ecl {
  background-color: #8a1267;
}

.gosu {
  background-color: #82937f;
}

.fortran {
  background-color: #4d41b1;
}

.coldfusion {
  background-color: #ed2cd6;
}

.ocaml {
  background-color: #3be133;
}

.fancy {
  background-color: #7b9db4;
}

.pure-data {
  background-color: #f15501;
}

.python {
  background-color: #3581ba;
}

.tcl {
  background-color: #e4cc98;
}

.arc {
  background-color: #ca2afe;
}

.puppet {
  background-color: #cc5555;
}

.io {
  background-color: #a9188d;
}
.max {
  background-color: #ce279c;
}

.go {
  background-color: #8d04eb;
}

.repo .asp {
  background-color: #6a40fd;
}

.visual-basic {
  background-color: #945db7;
}

.php {
  background-color: #6e03c1;
}

.scheme {
  background-color: #1e4aec;
}

.vala {
  background-color: #3581ba;
}

.smalltalk {
  background-color: #596706;
}

.matlab {
  background-color: #bb92ac;
}

.csharp {
  background-color: #bb92af;
}

.css {
  background-color: #563d7c;
}
